



<footer>
    <div class="pull-right">
        Easy Cash Kullanici Paneli @DateTime.Now.Year | Tum Haklari Saklidir <a href="https://colorlib.com">Onur Abdulaji</a>
    </div>
    <div class="clearfix"></div>
</footer>